header{
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    justify-content: space-evenly;
    float: right;
}
header a{
    margin:0.5vw 1vw;
}
header img{
    height: 40px;
    width: 40px;
}
a{
    color:#262626;
}
article{
    clear: both;
}